body {
  background-color: antiquewhite;
}

div {
  color: #aa4a30;
  font-family: "Pompiere", cursive;
  font-size: 20px;
}
footer {
  color: #aa4a30;
  font-family: "Caprasimo", cursive;
  margin: 5px auto;
  max-width: 900px;
  font-size: 14px;
}

.weather-project-border {
  margin: 20px auto;
  margin-bottom: 5px;
  padding: 25px 25px;
  border: 1px solid #aa4a30;
  border-radius: 7px;
  max-width: 900px;
}

.todays-weather-statement,
.city-name {
  color: #aa4a30;
  font-family: "Caprasimo", cursive;
  margin: 50px, 25px;
  text-align: center;
}
.icon-and-temperature {
  position: relative;
  top: -20px;
}

.weather-condition:first-letter {
  text-transform: capitalize;
}

.temperature-statement .active {
  color: #aa4a30;
  text-decoration: none;
}

.temperature-statement .active:hover {
  cursor: default;
}
